body {
  overflow: hidden;
  touch-action: none;
  background: #000;
}

#splashbackground {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(15deg, #1f0e09, #25040b, #010b0e, #161716);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.splashbackground {
  width: 100%;
  position: absolute;
  text-align: center;
}

#krlogo {
  #krlogo__fname {
    transition: 2s;
    &.init {
      transform: translateX(-250%);
    }
  }
  #krlogo__lname {
    transition: 2s;
    &.init {
      transform: translateX(150%);
    }
  }
}

svg#krlogosvg {
  overflow: visible;
}

#splashlinksmenu {
  position: absolute;
  left: 1em;
  bottom: 0;
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline;
      padding: 0.5em;
      a {
        transition: 0.15s;
        color: #fff200;
        text-decoration: none;
        border-bottom-width: 0.15em;
        border-bottom-style: solid;
        border-bottom-color: #0000ff00;
        &:hover {
          color: #ffffff;
          border-bottom-color: #0000ffff;
        }
      }
    }
  }
}
#sociallinksmenu {
  position: absolute;
  bottom: 3em;
  right: 0;
  width: 65%;
  a {
    transition: 0.15s;
    opacity: 0.5;
    border-bottom-width: 0.15em;
    border-bottom-style: solid;
    border-bottom-color: #0000ff00;
    padding-top: 0.15em;
    &:hover {
      opacity: 1;
      outline: 0.15em solid #fff20085;
      outline-offset: 0.25em;
      outline-style: outset;
      border-bottom-color: #0000ffff;
    }
  }
  @media (max-width: 640px) {
    width: 100%;
  }
  svg {
    filter: drop-shadow(0.15em 0.15em 0.1em #000000);
  }
}
